{% extends 'main.html' %}{% load static %}{% block head %}{% endblock %}{% block content %}
<section class="banner-area relative blog-home-banner" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content blog-header-content col-lg-12">
				<h1 class="text-white">
					Mentorlarimiz tomonidan eng sara maqolalar				
				</h1>	
				<p class="text-white">
					Bir fikrni qabul qiling. Uni hayotingizga aylantiring - bu haqda o'ylang, orzu qiling, yashang. Sizning ongingiz, mushaklaringiz, asablaringiz, tanangizning har bir qismi ushbu bitta g'oya bilan to'lsin. Bu muvaffaqiyatga olib boradigan yo'l
				</p>
			</div>
		</div>
	</div>
</section>

			{% endblock %}
			{% block script %}
{% endblock %}