{% extends 'users/user_base.html' %}{% load i18n %}{% load static %}
{% block head %}
<title>Test natijalari</title>


{% endblock %}
{% block content %}
<div class="card-body">
    <div class="info">
        <h1>{{result.date|date:"d-m-Y H:i"}} dagi test natijalari</h1>
		<p><span style="font-weight: 600;">Umumiy savollar:</span> {{result.tests.count}} <br>
            <span style="font-weight: 600;">To'g'ri javoblar:</span> {{result.is_trues}}</p>
		<p><span><b>Natija:</b> {{result.result}} %</span></p>
    </div>
    

    <div class="tests">
        {% for test in result.tests.all %}
			<div style="display: flex;"><p style="font-size: 16px; font-weight:600; margin-right:7px">{{forloop.counter}}  </p>  {{test.question.content|safe}}</div>
			{% if test.is_true %}<p><i class="fa-solid fa-check" style="color: green;"></i> {{test.answer}}</p>

			{% else %}
           <p><i class="fa-solid fa-xmark" style="color: red;"></i> {{test.answer}}</p> 
            <p><b> To'g'ri javob:</b>  <i class="fa-solid fa-check" style="color: gray;"></i> {{test.question.is_true}}  </p>
            {% endif %}
            <hr>
			{% endfor %}
    </div>

</div>
{% endblock %}
{% block script %} 

{% endblock %}